// Colors
$white: #ffffff;
$dark: #4f4f4f;
$gray: #828282;
$lightGray: #bdbdbd;
$veryLightGray:#fafafb;
$veryVeryLightGray:#f2f2f2;
$borderGray:#e0e0e0;
$veryDarkBlue: #2f80ed;
$veryDarkBlueHover: #2f81edce;
$darkBlue: #97bef4;
$lightBlue: #f6f8fb;
$green:#219653;
$greenHover:#219653ce;

// Font family
$font-family: "Poppins", sans-serif;

//Font size
$homePage: 14px;
$detailPage: 16px;

// Font weight
$regular: 400;
$bold: 500;
